**List Comprehensions**

In [1]:
num = [1, 2, 3, 4, 5]
squares = []

for n in num:
  squares.append(n**2)
print (squares)

[1, 4, 9, 16, 25]

In [2]:
squares2 = [n**2 for n in num]
print(squares2)

[1, 4, 9, 16, 25]

Common numbers of lists, using list comprehension

In [3]:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 3, 4, 5, 6]
intersection = []

for x in list1:
  for y in list2:
    if x == y:
      intersection.append(x)

print(intersection)

[2, 3, 4, 5]

In [4]:
intersec = [x for x in list1 for y in list1 if x == y]
print(intersec)

[1, 2, 3, 4, 5]

In [5]:
nonCommonElem = [(x, y) for x in list1 for y in list1 if x != y]
print(nonCommonElem)

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 1), (2, 3), (2, 4), (2, 5), (3, 1), (3, 2), (3, 4), (3, 5), (4, 1), (4, 2), (4, 3), (4, 5), (5, 1), (5, 2), (5, 3), (5, 4)]

**Lower case all the letters**

In [6]:
list2 = ['Hello World', 'Python', 'JAVA']
xx = [str.lower() for str in list2]
print(xx)

['hello world', 'python', 'java']

**list of list**

In [7]:
list1 = [1, 2, 3, 4, 5]
x = [[a**2, a**3] for a in list1]
print(x)

[[1, 1], [4, 8], [9, 27], [16, 64], [25, 125]]

**LIST COMPREHENSIONS   VS   LAMBDA FUNCIONS**

In [8]:
x = list(map(lambda x:x, 'Hello'))
print(x)

['H', 'e', 'l', 'l', 'o']

In [14]:
op = open("pythonTest.txt", 'r')
salida = [i for i in op if "file" in i]
print(salida)

['parsing a file is what we are discussing right now\n']

**Accessing Function using list comprehensions**

In [15]:
def x(a):
  return a*2
print(x(2))

4

In [16]:
y = [x(a) for a in range(10)]
print(y)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

**DICTIONAY COMPREHENSION**

In [4]:
dictionary = {'a':1, 'b':2, 'c':3, 'd':4}
x = dictionary.keys()
print(x)

y = dictionary.values()
print(y)

z = dictionary.items()
print(z)

dict_keys(['a', 'b', 'c', 'd'])
dict_values([1, 2, 3, 4])
dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [5]:
NewDictionary = {k:v*2 for (k,v) in dictionary.items()}
print(NewDictionary)

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

In [8]:
dictionary2 = {}
for i in range(10):
  if i%2 == 0:
    dictionary2[i] = i**2
print(dictionary2)

xx = {}
dictionary3 = {i:i**2 for i in range(10) if i % 2 == 0}
print(dictionary3)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

**Dictionary comprehension as Lambda function**

In [9]:
feh = {'temp1':10, 'temp2':20, 'temp3':30, 'temp4':40}
cel = list(map(lambda x: (float(5)/9)*(x-32), feh.values() ))
cel_dictionary = dict( zip(feh.keys(), cel))
print(cel_dictionary)

{'temp1': -12.222222222222223, 'temp2': -6.666666666666667, 'temp3': -1.1111111111111112, 'temp4': 4.444444444444445}

In [10]:
cel2_dictionary = {k:(float(5)/9)*(v-32) for (k,v) in feh.items()}
print(cel2_dictionary)

{'temp1': -12.222222222222223, 'temp2': -6.666666666666667, 'temp3': -1.1111111111111112, 'temp4': 4.444444444444445}

In [13]:
dictionary = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6}
new_dictionary = {k:('even No' if v%2 == 0 else 'odd No') for (k,v) in dictionary.items()}
print(new_dictionary)

{'a': 'odd No', 'b': 'even No', 'c': 'odd No', 'd': 'even No', 'e': 'odd No', 'f': 'even No'}

**Nested dictionary comprehension**

In [15]:
dictionary = {'one':{'a':10}, 'two':{'b':20}}
for (external_key, external_value) in dictionary.items():
  for (internal_key, internal_value) in external_value.items():
    external_value.update({internal_key: float(internal_value) + 10.3})
dictionary.update({external_key: external_value})
print(dictionary)

{'one': {'a': 20.3}, 'two': {'b': 30.3}}

**Set comprehension**

In [16]:
input = [1, 2, 2, 2, 3, 3, 3, 4, 5, 5, 6, 6, 7, 7, 7, 8]

output = set()
for var in input:
  if var % 2 == 0:
    output.add(var)
print(output)

output2 = {var for var in input if var % 2 == 0}
print(output2)

{8, 2, 4, 6}
{8, 2, 4, 6}

**Generator Comprehension**

In [18]:
input = [1, 2, 3, 4, 4, 5, 6, 7, 7, 7]
output = (var for var in input if var % 2 == 0)
print(output)
print("output values using generator comprehension:", end='')
for var in output:
  print(var, end='')

<generator object <genexpr> at 0x7f4747d63550>
output values using generator comprehension:2446