<a href="https://colab.research.google.com/github/GABusta/Advanced-Python-course/blob/main/DataAnalysisPanda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dataframe = pd.read_csv('Buy_Book.csv')

head = dataframe.head(3) # firts rows
tail = dataframe.tail(3) # final rows

tail2 = dataframe[5:11]

In [ ]:
income = dataframe[['Age','Income']]
dataframe.iloc[0:11, 1:3]

   Student  Income
0       No  median
1      Yes    High
2      Yes  median
3      Yes     Low
4       No    High
5       No  median
6      Yes    High
7       No  median
8       No    High
9      Yes    High
10     Yes     Low

In [ ]:
dataframe['Age'].max()

49

In [ ]:
stat = dataframe['Age'].count()
print(stat)

25

In [ ]:
prom = dataframe['Age'].mean()
print(prom)

36.28

**standard deviation**

In [ ]:
desvio = dataframe['Age'].std()
print(desvio)

8.090735442467514

**Datos acerca de todos los datos**

In [ ]:
descrip = dataframe.describe()
print(descrip)

             Age
count  25.000000
mean   36.280000
std     8.090735
min    21.000000
25%    31.000000
50%    36.000000
75%    43.000000
max    49.000000

In [16]:
salida = dataframe[dataframe.Age > 35]
print(salida)

    Age Student  Income    Savings Buy Book
0    43      No  median  Excellent      Yes
2    39     Yes  median       Fair      Yes
4    44      No    High  Excellent      Yes
5    42      No  median       Fair       No
7    41      No  median       Fair      Yes
8    49      No    High       Fair       No
10   45     Yes     Low  Excellent       No
13   43      No  median  Excellent       No
16   46     Yes     Low  Excellent       No
17   42      No  median  Excellent      Yes
19   38     Yes    High  Excellent      Yes
21   36      No    High  Excellent      Yes
23   49      No     Low       Fair       No

In [18]:
salida = dataframe[dataframe.Age == dataframe['Age'].max()]
print(salida)

    Age Student Income Savings Buy Book
8    49      No   High    Fair       No
23   49      No    Low    Fair       No

In [19]:
salida = dataframe[dataframe.Age == dataframe['Age'].min()]
print(salida)

    Age Student  Income    Savings Buy Book
12   21     Yes  median  Excellent      Yes

In [21]:
salida = dataframe[['Student', 'Income']][dataframe.Age == dataframe['Age'].min()]
print(salida)

   Student  Income
12     Yes  median

**New file**

In [31]:
cgpa = {
    'Name':['Taylor', 'Ann', 'Christine'],
    'CGPA': [3.1, 2.2, 2.95]
}
df_cgpa = pd.DataFrame(cgpa)

favSports = {
    'Name':['Taylor', 'Ann', 'Christine'],
    'Fav Sports':['Basketball', 'Football', 'Tennis']
}
df_favSports = pd.DataFrame(favSports)

# merge two dataframes, en base a una columna en comun
merged_df = pd.merge(df_cgpa, df_favSports, on='Name')
print(merged_df)

        Name  CGPA  Fav Sports
0     Taylor  3.10  Basketball
1        Ann  2.20    Football
2  Christine  2.95      Tennis

new column

In [36]:
merged_df['Rank'] = merged_df['CGPA'].rank(ascending=1)
print(merged_df)

        Name  CGPA  Fav Sports  Rank
0     Taylor  3.10  Basketball   3.0
1        Ann  2.20    Football   1.0
2  Christine  2.95      Tennis   2.0

In [58]:
def comment(x):
  if x>=2.8:
    return 'Above average'
  else:
    return 'Below average'

merged_df['Comment'] = merged_df['CGPA'].apply(comment)
print(merged_df)

        Name  CGPA  Fav Sports  Rank        Comment
0     Taylor  3.10  Basketball   3.0  Above average
1        Ann  2.20    Football   1.0  Below average
2  Christine  2.95      Tennis   2.0  Above average

In [62]:
boolean = merged_df['Comment'].duplicated(keep=False)
new_df = merged_df[boolean]
print(new_df)
print('-----------')
cantidad = new_df['Comment'].count()
print(cantidad)

        Name  CGPA  Fav Sports  Rank        Comment
0     Taylor  3.10  Basketball   3.0  Above average
2  Christine  2.95      Tennis   2.0  Above average
-----------
2