<a href="https://colab.research.google.com/github/GABusta/Advanced-Python-course/blob/main/Generators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def table4(n):
  result = n*4
  return result
  print ("resultado")

a = table4(3)
print(a)

12

In [9]:
def table5(n):
  result1 = n*4
  result2 = n*5
  result3 = n*6
  
  yield result1
  yield result2
  yield result3

b = table5(3)
print(b.__next__())

12

In [10]:
print(b.__next__())
print(b.__next__())

15
18

**Creating generator**

In [11]:
# --- function ---
def natural_No(n):
  result = []
  for i in range(1,n):
    result.append(i)
  return result

n = natural_No(10)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# --- Generator ---
def natural2(n):
  for i in range(1,n):
    yield(i)

n1 = natural2(10)
for i in n1:
  print(i)

1
2
3
4
5
6
7
8
9